# Ignore image and model files
*.jpg
*.png
*.h5
*.pth
*.npy
*.pt
result_sample/
results/
results_ct/
results_ct_brain/
results_ct_pelvis/
wandb/
__pycache__/
whl/
selective_scan/
test_img/
load_data_for_brain.py
train_encoder_for_brain.py
train_for_brain.py
sample_for_brain.py
add_noise.py
compute_gflot.py
sample2.py
ssim.py
tes_ssm.py
test.py
train2.py
save_img.py
sample3.py
psnr.py
u_net.py
unet2.py
results_ct/